[Profile1]
name = Ash
y_movement = 6.1
x_movement = 0.0
toggle_key = y
exit_key = delete

[Profile2]
name = Mira
y_movement = 5.5
x_movement = 0
toggle_key = y
exit_key = delete

[Profile3]
name = Zofia
y_movement = 6.0
x_movement = 0
toggle_key = y
exit_key = delete

[Profile4]
name = Profile 4
y_movement = 7.0
x_movement = 0
toggle_key = y
exit_key = delete

[Profile5]
name = Profile 5
y_movement = 5.0
x_movement = 0
toggle_key = y
exit_key = delete

[Profile6]
name = Profile 6
y_movement = 6.5
x_movement = 0
toggle_key = y
exit_key = delete

[Profile7]
name = Profile 7
y_movement = 7.2
x_movement = 0
toggle_key = y
exit_key = delete

[Profile8]
name = Profile 8
y_movement = 4.8
x_movement = 0
toggle_key = y
exit_key = delete

[Profile9]
name = ttt
y_movement = 5.9
x_movement = 0.0
toggle_key = y
exit_key = delete

